
# dependencies
/node_modules
/appview/node_modules
/appview/.pnp
/appview/.pnp.js

# testing
/appview/coverage

# production
/appview/build

# misc
/appview/.DS_Store
/appview/.env.local
/appview/.env.development.local
/appview/.env.test.local
/appview/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel

